In [1]:
import numpy as np
import pandas as pd

In [2]:
desc = pd.read_csv('VariableDescription.csv')
desc

              Variable                                        Description
0          Customer Id        Identification number for the Policy holder
1    YearOfObservation         year of observation for the insured policy
2       Insured_Period  duration of insurance policy in Olusola Insura...
3          Residential      is the building a residential building or not
4     Building_Painted  is the building painted or not (N-Painted, V-N...
5      Building_Fenced  is the building fence or not (N-Fenced, V-Not ...
6               Garden  building has garden or not (V-has garden; O-no...
7           Settlement  Area where the building is located. (R- rural ...
8   Building Dimension                 Size of the insured building in m2
9        Building_Type             The type of building (Type 1, 2, 3, 4)
10   Date_of_Occupancy                   date building was first occupied
11     NumberOfWindows                  number of windows in the building
12            Geo Code          Geographical Code of the Insured building
13               Claim  target variable. (0: no claim, 1: at least one...

In [303]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

### filling the missing values

In [304]:
train.Garden = train.Garden.ffill(axis=0)
test.Garden = test.Garden.ffill(axis=0)

In [305]:
train.Date_of_Occupancy = train.Date_of_Occupancy.fillna(1964)
test.Date_of_Occupancy = test.Date_of_Occupancy.fillna(1964)

In [306]:
train['Building Dimension'] = train['Building Dimension'].fillna(1883.727530)
test['Building Dimension'] = test['Building Dimension'].fillna(test['Building Dimension'].mean())

In [307]:
train.Geo_Code = train.Geo_Code.ffill(axis=0)
test.Geo_Code = test.Geo_Code.ffill(axis=0)

### Feature Engineering

In [308]:
train.Building_Painted = train.Building_Painted.map({'N':1,'V':0}).astype(int)
test.Building_Painted = test.Building_Painted.map({'N':1,'V':0}).astype(int)

In [309]:
train.Building_Fenced = train.Building_Fenced.map({'N':1,'V':0}).astype(int)
test.Building_Fenced = test.Building_Fenced.map({'N':1,'V':0}).astype(int)

In [310]:
train.Garden = train.Garden.map({'V':1,'O':0}).astype(int)
test.Garden = test.Garden.map({'V':1,'O':0}).astype(int)

In [311]:
train.Settlement = train.Settlement.map({'U':0,'R':1}).astype(int)
test.Settlement = test.Settlement.map({'U':0,'R':1}).astype(int)

In [312]:
train.loc[train['NumberOfWindows'] == '>=10','NumberOfWindows'] = 10
train['NumberOfWindows'] = train['NumberOfWindows'].replace('   .',0).astype(int)
test.loc[test['NumberOfWindows'] == '>=10','NumberOfWindows'] = 10
test['NumberOfWindows'] = test['NumberOfWindows'].replace('   .',0).astype(int)

In [313]:
train['pro_rich'] = 0
test['pro_rich'] = 0
train.loc[(train['Building_Painted']== 1)&(train['Settlement'] == 0)&(train['Garden']==1),'pro_rich'] = 1
test.loc[(test['Building_Painted']== 1)&(test['Settlement'] == 0)&(test['Garden']==1),'pro_rich'] = 1

In [314]:
from sklearn.preprocessing import LabelEncoder
le_y = LabelEncoder()
train['Geo'] = le_y.fit_transform(np.array(train['Geo_Code']).reshape(-1,1))
test['Geo'] = le_y.fit_transform(np.array(test['Geo_Code']).reshape(-1,1))

C:\Users\toshiba\Anacondas\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [315]:
train['b4_ins'] = train['YearOfObservation'] - train['Date_of_Occupancy']
test['b4_ins'] = test['YearOfObservation'] - test['Date_of_Occupancy']

In [316]:
train.YearOfObservation = train.YearOfObservation.map({2012:0,2013:1,2014:2,2015:3,2016:4})
test.YearOfObservation = test.YearOfObservation.map({2012:0,2013:1,2014:2,2015:3,2016:4})

In [317]:
train['occ_date'] = 0
train.loc[train['Date_of_Occupancy']<= 1598, 'occ_date'] = 0
train.loc[(train['Date_of_Occupancy']> 1598) & (train['Date_of_Occupancy']<=1650), 'occ_date'] = 3
train.loc[(train['Date_of_Occupancy']> 1650) & (train['Date_of_Occupancy']<=1702), 'occ_date'] = 1
train.loc[(train['Date_of_Occupancy']> 1702) & (train['Date_of_Occupancy']<=1754), 'occ_date'] = 4
train.loc[(train['Date_of_Occupancy']> 1754) & (train['Date_of_Occupancy']<=1807), 'occ_date'] = 2
train.loc[(train['Date_of_Occupancy']> 1807) & (train['Date_of_Occupancy']<=1859), 'occ_date'] = 8
train.loc[(train['Date_of_Occupancy']> 1859) & (train['Date_of_Occupancy']<=1911), 'occ_date'] = 6
train.loc[(train['Date_of_Occupancy']> 1911) & (train['Date_of_Occupancy']<=1963), 'occ_date'] = 5
train.loc[(train['Date_of_Occupancy']> 1963), 'occ_date'] = 7

In [318]:
test.loc[test['Date_of_Occupancy']<= 1598, 'occ_date'] = 0
test.loc[(test['Date_of_Occupancy']> 1598) & (test['Date_of_Occupancy']<=1650), 'occ_date'] = 3
test.loc[(test['Date_of_Occupancy']> 1650) & (test['Date_of_Occupancy']<=1702), 'occ_date'] = 1
test.loc[(test['Date_of_Occupancy']> 1702) & (test['Date_of_Occupancy']<=1754), 'occ_date'] = 4
test.loc[(test['Date_of_Occupancy']> 1754) & (test['Date_of_Occupancy']<=1807), 'occ_date'] = 2
test.loc[(test['Date_of_Occupancy']> 1807) & (test['Date_of_Occupancy']<=1859), 'occ_date'] = 8
test.loc[(test['Date_of_Occupancy']> 1859) & (test['Date_of_Occupancy']<=1911), 'occ_date'] = 6
test.loc[(test['Date_of_Occupancy']> 1911) & (test['Date_of_Occupancy']<=1963), 'occ_date'] = 5
test.loc[(test['Date_of_Occupancy']> 1963), 'occ_date'] = 7

In [319]:
test.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,pro_rich,Geo,b4_ins,occ_date
0,H11920,1,1.000000,0,0,1,0,1,300.0,1,1960.0,3,3310,0,142,53.0,5.0
1,H11921,4,0.997268,0,0,1,0,1,300.0,1,1960.0,3,3310,0,142,56.0,5.0
2,H9805,1,0.369863,0,0,0,1,0,790.0,1,1960.0,0,3310,0,142,53.0,5.0
3,H7493,2,1.000000,0,0,1,0,1,1405.0,1,2004.0,3,3321,0,143,10.0,7.0
4,H7494,4,1.000000,0,0,1,0,1,1405.0,1,2004.0,3,3321,0,143,12.0,7.0

In [320]:
train.head()

,Customer Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim,pro_rich,Geo,b4_ins,occ_date
0,H14663,1,1.0,0,1,0,1,0,290.0,1,1960.0,0,1053,0,1,7,53.0,5
1,H2037,3,1.0,0,0,1,0,1,490.0,1,1850.0,4,1053,0,0,7,165.0,8
2,H3802,2,1.0,0,1,0,1,0,595.0,1,1960.0,0,1053,0,1,7,54.0,5
3,H3834,1,1.0,0,0,0,1,0,2840.0,1,1960.0,0,1053,0,0,7,53.0,5
4,H5053,2,1.0,0,0,1,0,1,680.0,1,1800.0,3,1053,0,0,7,214.0,2

In [321]:
correlate = train.corr()

In [322]:
correlate['Claim'].transpose()

YearOfObservation    -0.016367
Insured_Period        0.088715
Residential           0.063509
Building_Painted     -0.029857
Building_Fenced       0.051657
Garden               -0.052626
Settlement            0.052019
Building Dimension    0.295216
Building_Type         0.112168
Date_of_Occupancy     0.018598
NumberOfWindows       0.136705
Claim                 1.000000
pro_rich             -0.029436
Geo                   0.044999
b4_ins               -0.019214
occ_date              0.047590
Name: Claim, dtype: float64

In [323]:
train = train.drop(['Geo_Code','Customer Id'],axis=1)

In [324]:
ID = test['Customer Id']
test = test.drop(['Geo_Code','Customer Id','pro_rich','Geo','b4_ins','occ_date'],axis=1)

In [325]:
y = train['Claim']
x= train.drop(['Claim'], axis = 1)

In [326]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split (x,y,test_size=0.3,random_state=42)

In [327]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(random_state = 0)
LR.fit(x_train,y_train)

C:\Users\toshiba\Anacondas\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [328]:
y_pred = LR.predict(x_test)

In [329]:
from sklearn import metrics
print('accuracy:',metrics.accuracy_score(y_test,y_pred))
print('F1 score:', metrics.f1_score(y_test,y_pred))
print('Recall:', metrics.recall_score(y_test,y_pred))

accuracy: 0.7849162011173184
F1 score: 0.22222222222222224
Recall: 0.13414634146341464

In [292]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   YearOfObservation   3069 non-null   int64
 1   Insured_Period      3069 non-null   float64
 2   Residential         3069 non-null   int64
 3   Building_Painted    3069 non-null   int32
 4   Building_Fenced     3069 non-null   int32
 5   Garden              3069 non-null   int32
 6   Settlement          3069 non-null   int32
 7   Building Dimension  3069 non-null   float64
 8   Building_Type       3069 non-null   int64
 9   Date_of_Occupancy   3069 non-null   float64
 10  NumberOfWindows     3069 non-null   int32
 11  pro_rich            3069 non-null   int64
 12  Geo                 3069 non-null   int32
 13  b4_ins              3069 non-null   float64
 14  occ_date            3069 non-null   float64
dtypes: float64(5), int32(6), int64(4)
memory usage: 287.8 KB

In [293]:
test_pred = LR.predict(test)

In [300]:
sub_ex = pd.DataFrame()
sub_ex['Customer Id'] = ID
sub_ex['Claim'] = test_pred
sub_ex.head()

  Customer Id  Claim
0      H11920      0
1      H11921      0
2       H9805      0
3       H7493      0
4       H7494      0

In [301]:
sub_ex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer Id  3069 non-null   object
 1   Claim        3069 non-null   int64
dtypes: int64(1), object(1)
memory usage: 48.1+ KB

In [297]:
len(ID)

3069

In [302]:
sub_ex.to_csv('submistin', index=False)